body{
	margin: 0;
	overflow-x: hidden;
/* 	padding: 10px; */
}

*{
	font-family: monospace;
}

img{
	max-width: 100%;
	max-height: 100%;
}


div, a{
    box-sizing: border-box;
}

.align-center{
	text-align: center;
}
.align-left{
	text-align: left;
}

.category{
	background: #37a73a;
	color: white;
	padding: 5px;
/* 	color: orange; */
}

.site-title{
    display: inline-block;
    width: 100%;
	transform: rotate(-3deg);
	text-align: center;
	padding-top: 15px;
	pointer-events: none;
/* 	border: 1px solid green; */
}
.site-title *{
    /* 	border: 1px solid red; */
}
.site-title a{
	display: inline-block;
	pointer-events: initial;
}

.page-category{
	text-align: center;
}

.row{
	font-size: 0px;
	width: 100%;
	display: inline-block;
	position: relative;
	padding: 15px 5px;	
}
.row:nth-of-type(even){
	background: #e6e6fd;
}
.row:hover{
	background: #adadd8 !important;
}
.row.header{
	background: white;
	border-bottom: 1px solid;
}
.column{
	font-size: initial;
	display: inline-block;
	width: 100%;
}
.column-2{
	max-width: 50%;
}
.column-3{
	max-width: 33%;
}

.flex-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}

input.button[type=submit]{
	display: inline-block;
	width: auto;
	border: 0px;
}
.button{
	user-select: none;
	background: #ff9c08;
	padding: 5px;
	cursor: pointer;
	display: inline-block;
}
/* .admin-action .button{
	background: orange;
} */
.button:hover{
	background: #7c7cb3;
}

.spinner{
	position: absolute;
	z-index: 9999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
    display: none;
    background: rgba(0, 0, 0, .3)
}
.spinner img{
	max-width: 50px;
	align-self: center;
}





#alert-contain{
	position:fixed;
	z-index: 999999;
	bottom: 100px;
	right: 30px;
	text-align: right;
	width: 70%;
	pointer-events: none;
	padding-top: 10px;
}
.alert-wrap{
	transition: .5s;
}
.alert-msg{
	position: relative;
/* 	background: rgba(0, 0, 0, .9); */
/* 	color: lightgrey; */
	font-size: 13px;
	display: inline-block;
	margin: 1px 0;
	padding: 3px 40px 3px 20px;
    pointer-events: initial;
    background: white;
}
.alert-msg pre{
	max-height: 80vh;
    overflow-y: auto;
}
.alert-icon, 
.alert-close{
	height: 100%;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.alert-icon{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 12px;
}
.alert-close{
	position: absolute;
	right: 0px;
	top: 0px;
	pointer-events: initial;
	cursor: pointer;
	background: black;
	color: white;
	font-size: 1.5rem;
}
.alert-close:hover{
	background: rgba(250, 50, 55, .4);
}
.alert-icon{
	background: lightgrey;
}
.alert-icon.type-success{
	background: rgba(100, 245, 100, .7);
}
.alert-icon.type-error,
.alert-icon.type-warning{
	background: red;
}
.hal .alert-icon{
	background: rgb(255 235 0)
}


.clarification{
	font-style: italic;
}

/* #tournament,
#team,
#player,
#team-registrations{ */
.main-content{
	margin-top: 50px;
	padding: 20px;
}

.main-info{
	text-align: center;
}
.main-info-liner{
	padding: 10px;
	background: #e8f3e8;
	display: inline-block;
	max-width: 600px;
}
.main-info-liner h4{
	margin: 5px 0;
}

#add-team,
#add-player{
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}

.delete{
	font-size: .8rem;;
	position: absolute;
	right: 0px;
	top: 0;
	background: red;
	font-weight: bold;
	color: white;
}

.turnip-form input[type=email],
.turnip-form input[type=text],
.turnip-form input[type=password]{
    width: 350px;
    max-width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.turnip-form input[type=submit]{
	padding: 5px;
	border: 0px solid;
}

@media screen and (max-width: 800px){
	.column-3{
        max-width: 100%;
	}
}

