#admin{
/* 	margin-left: 50px; */
/* 	max-width: calc(100% - 50px); */
	margin-top: 80px;
    padding: 20px;
/*     border: 2px solid green; */
}
#account-toggle{
	position: fixed;
    background: #e6dddd;
	right: 0px;
	top: 0px;
    display: inline-block;
    width: 60px; 
    height: 50px;
    padding: 5px;
    text-align: center;
}
#account{
	position: absolute;
	width: 150px;
	right: 0px;
	top: 50px;
    background: #e6dddd;
    display: none;
    padding: 10px;
    text-align: left;
}
#account-toggle img{
	display: inline-block;
}

#create{
	padding: 10px;
/*     border: 2px solid yellow; */
}

.admin-action{
	margin: 5px 0;
}

.row.header{
	font-weight: bold;
}
.row.header:hover{
	background: white !important;
}
#admin .team-manager{
/*     border: 1px solid green; */
}
#admin .tournament{
/*     border: 1px solid lightblue;	 */
}


#nav-toggle{
    position: absolute;
    background: #e6dddd;
    width: 60px;
    height: 50px;
	margin-bottom: 20px;
	cursor: pointer;
	user-select: none;
	font-weight: bold;
}

#nav-menu{
	position: fixed;
	z-index: 9;
	width: 120px;
	display: none;
	top: 50px;
	left: 0px;
	user-select: none;
	background: #e6dddd;
}
#nav{
    padding: 20px 0;
}
.nav-item{
	padding: 10px 10px; 
	display: inline-block;
}

#nav-menu.toggled,
#account.toggled{
	display: initial;
}


.async-item{
	display: block;
	padding: 10px 0px;
	font-weight: bold;
}

#auth-area{
	text-align: right;
	padding: 20px 0 10px 0;
}


@media screen and (max-width: 800px){
	.site-title{
		font-size: .8rem;
	}
}